@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    padding: 10px;
    position: relative;
    width: 300px;
    max-width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

img.img-qr {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 15px 15px;
}

h1,
p{
    color: hsl(218, 44%, 22%);
}

h1 {
    margin-bottom: 7px;

}

p {
    padding: 10px;

}
